body { width:80%; margin-left:auto; margin-right:auto; font-family:"微软雅黑"; color:#333; }
h1,h2 { border-bottom:1px solid #CCCCCC; margin-bottom:8px; padding-bottom:4px; font-family:"微软雅黑"}
h1,h2,h3,h4,h5,h6 { color:#333; text-shadow:2px 2px 2px #E6E6E6; clear:both; }
h1 { font-size:20px; }
h2 { font-size:18px; }
h3 { font-size:16px; }
pre {
    white-space: pre-wrap;  /* FireFox */
    word-wrap: break-word;  /* IE 5.5+ */
}
a,a:hover,a:visited { color:#0645AD; text-decoration:none; padding-left:2px; padding-right:2px; }
a:hover { text-decoration:underline; }
table { border-collapse:collapse; border:1px solid gray; margin: 8px 0 8px 0;}
th, td { border:1px solid gray; padding:2px 8px 2px 8px; }
header, nav, footer, article { display:block; }
header { border-top: 1px solid #CCCCCC; border-bottom: 1px solid #CCCCCC; padding:4px 0 4px 4px; }
nav { width:20%; float:left; border: 1px solid #CCCCCC; font-size:90%; margin-bottom:8px; }
nav ul { list-style:none outside none; padding-left:16px; }
nav h3 { padding-left:16px; }
article { width:78%; float:right; padding-bottom:8px; }
footer { clear:both; text-align: center; border-top: 1px solid #CCCCCC; font-size:90%; padding:8px 0 8px 0; margin-top:8px; }
.search { float:right; vertical-align:middle; }
.clear { clear:both; }
.myn  { color:gray; }        /* my notes */
.myn2 { color:#3B9C9C; xfont-weight:bold; }        /* my notes */
.year, .abbrc, .imp { color:#348017; }
.abbrc { font-weight:bold; }
nav canvas { width:100%; font-size:16px; }
.hr  { border-bottom:1px solid #E6E6E6; margin:14px 0px 14px 0px; }
.myhr  { border-bottom:1px solid #E6E6E6; margin:14px 0px 14px 0px; }
.myhr2 { height:4px; border-bottom:1px solid #E6E6E6; border-top:1px solid #E6E6E6; margin:14px 0px 14px 0px; }
.quote { text-align:right; margin:4px 0 4px 0; color:gray; }
.cmdopts, .lcmdopts { border:1px solid #E6E6E6; padding:8px 8px 8px 8px; }
.cmdopts dt, .lcmdopts dt { clear: left; float: left; text-align: right; width: 100px; color:#348017; border-right:1px solid #E6E6E6; padding-right: 12px; }
.cmdopts dd { margin-left: 120px; margin-top:0; margin-bottom:0; }
.lcmdopts dt { width: 220px; }
.lcmdopts dd { margin-left: 240px; margin-top:0; margin-bottom:0; }
.fimg { float:left; }
img { border:1px solid #E6E6E6; margin: 0 16px 4px 0; padding: 8px 8px 8px 8px; }
canvas { border:1px solid #E6E6E6; margin: 0 16px 4px 0; padding: 8px 8px 8px 8px; }
.ltitle { background-color:#E6E6E6; padding:4px 0 4px 8px; }
.example:before, .example:after { display:table; content:""; line-height:0; }
.example:after { clear:both; }
.radic { text-decoration:overline; }
.wradic { white-space:nowrap; font-size:small; }
.backtotop { display:none; width:18px; line-height:1.2; padding: 5px 0; background-color:#E6E6E6; font-size:12px; text-align:center; position:fixed; right:10px; bottom: 100px; cursor:pointer; opacity:.6; filter:Alpha(opacity=60);}
pre.poem { font-size:15px; color:black; }
.border { border:1px solid #E6E6E6; padding: 8px 8px 8px 8px; }
.book { float:left; width:180px; }
dd { margin-top:8px; margin-bottom:8px; }
